name: CI CinePulse (Completo)

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test-quality:
    runs-on: ubuntu-latest

    steps:
    - name: 游닌 Checkout do c칩digo
      uses: actions/checkout@v3

    - name: 游냀 Configurar Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    - name: 游닍 Instalar depend칡ncias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest httpx flake8 # Adicionamos flake8 para checar qualidade

    - name: 游댌 Linting (Verifica칞칚o de Estilo)
      # Roda o flake8 mas ignora erros n칚o cr칤ticos (E501 linha longa) para n칚o quebrar o build  toa
      run: |
        flake8 src tests --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 src tests --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: 游늭 Criar diret칩rio de modelos (Mock)
      # Cria a pasta models vazia para o c칩digo n칚o quebrar ao tentar acessar o caminho
      run: mkdir -p models

    - name: 游빍 Rodar Testes Automatizados
      # Define chaves falsas, estamos usando testes mockados
      env:
        TMDB_API_KEY: "mock_key_tmdb"
        GEMINI_API_KEY: "mock_key_gemini"
        PYTHONPATH: .
      run: |
        pytest tests/ -v